@import "../../../../styles/globally-styles.scss";

.hero {
  @include center;
  flex-direction: column;

  .image {
  }

  .button {
    margin: 60px 0;
    max-width: 261px;
    width: 100%;
    height: 59px;
    border-radius: 31px;
    border: solid 2px #3544cb;
    @include center;

    p {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #00063b;
    }
  }

  .text {
    text-align: center;
    p {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #00063b;
    }
  }
}

.cta {
  margin: 40px 0;
  @include center;
  flex-direction: column;

  .title {
    h1 {
      font-size: 1.9rem;
      font-weight: 500;
      letter-spacing: 3px;
      color: #3544cb;
    }
  }

  .text {
    text-align: center;
    margin: 60px 0;

    p {
      text-shadow: 0 1px 2px #d6d6e8;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: #858498;
    }
  }

  .buttons {
    width: 100%;
    @include center;
    column-gap: 90px;
    row-gap: 40px;
    flex-wrap: wrap;

    .button {
      max-width: 300px;
      width: 100%;
      height: 59px;
      border-radius: 30px;
      border: solid 2px #3544cb;
      @include center;
      cursor: pointer;

      p {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1.8px;
        color: #00063b;
      }
    }
  }
}

@media (max-width: 750px) {
  section.hero {
    .image {
      height: 300px;
    }
  }
}

@media (max-width: 650px) {
  section.hero {
    .image {
      height: 250px;
    }
  }
}

@media (max-width: 550px) {
  section.hero {
    .image {
      height: 200px;
    }
  }
}

@media (max-width: 450px) {
  section.hero {
    .image {
      height: 150px;
    }
  }
}
