.input-wrapper {
  position: relative;
  max-width: 370px;
  width: 100%;

  input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    height: 55px;
    width: 100%;
    outline: none;
    padding: 15px 20px;

    font-size: 1rem;
    font-weight: 500;
    color: white;
    font-family: "Poppins", sans-serif;

    &::placeholder {
        color: white;
    }
  }

  svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    width: 21px;
    height: 21px;
  }
}
