@import "../../pages/helpers.scss";

.presentation {
  .nr {
    @include nr-config;
  }

  .title-wrapper {
    .pre {
      @include pre-title-config;
    }

    .main {
      @include title-config;
    }
  }

  .text {
    @include text-config;
  }

  .button-wrapper {
    display: inline-flex;
    flex-direction: column;
    .button {
      border-radius: 28px;
      padding: 16px 58px;
      border: 2px solid #5c69e3;
      cursor: pointer;
      transition: 0.2s ease all;

      p {
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.33;
        color: #4d6472;
        transition: 0.2s ease all;
      }

      &:hover {
        background-color: #5c69e3;

        p {
          color: white;
        }
      }
    }

    h4 {
      @include subtext-config;
    }
  }
}

@media (max-width: 550px) {
  .presentation {
    .nr {
      h1 {
        font-size: 4rem;
      }
    }

    .title-wrapper {
      .main {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}
