@import "../helpers.scss";

.pricing-page {
  @include page-config;
}

ul.navigation-bar {
  max-width: 600px;
  width: 100%;
  height: 74px;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 #d6d6e8;
  background-color: #fff;
  margin: auto;
  @include center;
  gap: 24px;

  li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    color: #6e6c8d;

    &.active {
      position: relative;
      color: #3544cb;

      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: #3544cb;
        border-radius: 50%;
      }
    }
  }
}

section.hero {
  @include section-config;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;

  .presentation {
    .name {
      h1 {
        text-shadow: 0 1px 2px #d6d6e8;
        font-size: 4.6rem;
        font-weight: 500;
        letter-spacing: 7px;
        color: #8f91b4;
      }

      h2 {
        text-shadow: 0 1px 2px #d6d6e8;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 8px;
        text-align: left;
        color: #3544cb;
      }

      .line {
        max-width: 104px;
        width: 100%;
        height: 3px;
        box-shadow: 0 1px 2px 0 #d6d6e8;
        background-color: #ff760d;
        margin-top: 20px;
      }

      margin-bottom: 60px;
    }

    .description {
      max-width: 473px;
      width: 100%;

      p {
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.75;
        color: #858498;
      }
    }
  }

  .image-wrapper {
    width: 100%;

    @include center;
    .image {
      position: relative;
      max-width: 350px;
      width: 100%;
      height: 450px;
      border-radius: 15px;
      box-shadow: 0 1px 10px 0 #d6d6e8;
      overflow: hidden;
    }
  }
}

@media (max-width: $tablet-bkpt) {
  section.hero {
    .presentation {
      grid-row: 2 / 3;
      @include center;
      flex-direction: column;

      .name {
        @include center;
        flex-direction: column;
      }
    }
  }
}
