.cards {
  background-color: white;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 80px;

  border-radius: 15px;
  box-shadow: 0 1px 15px 0 rgba(0, 101, 239, 0.15);

  h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    color: #0065ef;
    margin-bottom: 20px;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    justify-content: space-between;

    .card {
      width: 100%;
      height: 140px;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 1px 15px 0 rgba(35, 114, 221, 0.2);
      background-color: #fff;
    }
  }
}

.analytics {
  background-color: white;
  width: 100%;
  padding: 30px 20px;
  height: 430px;

  border-radius: 15px;
  box-shadow: 0 1px 15px 0 rgba(0, 101, 239, 0.15);

  h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    color: #0065ef;
    margin-bottom: 20px;
  }
}

.bar {
  display: flex;
  margin-bottom: 20px;
  padding-left: 4px;
  gap: 40px;

  li {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    color: #6e6c8d;
    cursor: pointer;

    &.active {
      position: relative;
      color: #313eb9;
      font-weight: 600;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #0065ef;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
  }
}
