@import "../../helpers.scss";

.collabs {
  @include section-config;
}

//* presentation

.presentation {
  .nr {
    @include nr-home-config;
  }

  .title-wrapper {
    .pre {
      @include pretitle-home-config;
    }

    .main {
      @include title-home-config;
    }
  }

  .text {
    p {
      font-size: 1.1rem;
      font-weight: normal;
      line-height: 1.67;
      color: #858498;
    }
  }
}

.cta {
  @media (max-width: 1200px) {
    justify-content: center;
  }

  .content {
    max-width: 407px;
    width: 100%;

    .image-container {
      width: 100%;
      height: 450px;
    }
  }
}
