@import "../../../pages/helpers.scss";

.gallery {
  padding: 60px 30px
}

.presentation {
  .nr {
    @include nr-config;
  }

  .title-wrapper {
    .pre {
      @include pre-title-config;
    }

    .main {
      @include title-config;
    }

    .sub {
      h4 {
        text-shadow: 0 1px 6px #d6d6e8;
        font-size: 1.9rem;
        font-weight: 300;
        color: #5499c4;
        text-align: end;

        max-width: 320px;
      }
    }
  }

  .text {
    margin-bottom: 40px;

    .line {
      max-width: 45px;
      width: 100%;
      height: 3px;
      background-color: #ff6291;
      margin: 20px 0;
    }

    .content {
      p {
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.67;
        letter-spacing: 0.36px;
        color: #858498;
      }
    }
  }

  .tags {
    display: flex;
    gap: 10px;
    max-width: 424px;
    width: 100%;
    flex-wrap: wrap;

    .container {
      display: flex;
      padding: 6px 12px;
      border-radius: 14px;

      span,
      p {
        font-size: 0.7rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: left;
        color: #000;
      }
    }
  }
}

@media (max-width: 550px) {
  .presentation {
    .nr {
      h1 {
        font-size: 4rem;
      }
    }

    .title-wrapper {
      .main {
        h1 {
          font-size: 3rem;
        }
      }

      .sub {
        h4 {
          text-align: start;
          margin-left: 60px;
        }
      }
    }
  }
}
