@import "../../helpers.scss";

.seo {
  @include section-config;
}

.presentation {
  .nr {
    @include nr-home-config;
  }

  .title-wrapper {
    .pre {
      @include pretitle-home-config;
    }

    .main {
      @include title-home-config;
      h1 {
        color: #5dc1ff;
        text-shadow: 0 1px 8px #d6d6e8;
        display: flex;
        align-items: center;
        max-width: 400px;
        flex-wrap: wrap;

        .and {
          font-size: 3.1rem;
          color: #ff7f00;
          padding: 0 20px;
        }

        .rest {
          font-size: 3.1rem;
          color: #ff83a0;
        }
      }
    }
  }
}

.image-container {
  width: 100%;
  height: 609px;
}

.content {
  max-width: 672px;
  width: 100%;
}
