@import "../../../../styles/helpers.scss";

.left {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .profile-box {
    height: 200px;
    display: grid;
    grid-template-columns: 120px 128px 1fr;
    align-items: center;

    .image {
      width: 80px;
      height: 80px;
      box-shadow: 0 0 8px rgba(0, 101, 239, 0.15);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }

    .name {
      display: flex;
      align-items: center;

      h4 {
        color: #5c69e3;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.8;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;

      .button {
        max-width: 250px;
        width: 100%;
        box-shadow: 0 0 8px rgba(0, 101, 239, 0.15);
        height: 56px;
        border-radius: 14px;
        @include center;
        cursor: pointer;

        p {
          font-weight: 400;
          color: #313eb9;
          font-size: 1rem;
        }
      }
    }
  }
}

.row {
  display: flex;
  gap: 12px;

  p {
  }

  span {
    color: #313eb9;
    font-weight: 500;
  }
}
