@import "../helpers.scss";

main.create-page {
  @include page-config;
}

section.hero {
  @include basic-section-config;
  @include center;
  flex-direction: column;

  .image {
    position: relative;
    max-width: 680px;
    width: 100%;
    height: 350px;
  }

  .button {
    margin: 60px 0;
    max-width: 261px;
    width: 100%;
    height: 59px;
    border-radius: 31px;
    border: solid 2px #3544cb;
    @include center;

    p {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #00063b;
    }
  }

  .text {
    text-align: center;
    p {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #00063b;
    }
  }
}

section.cta {
  @include basic-section-config;
  margin: 40px 0;
  @include center;
  flex-direction: column;

  .title {
    h1 {
      font-size: 1.9rem;
      font-weight: 500;
      letter-spacing: 3px;
      color: #3544cb;
    }
  }

  .text {
    text-align: center;
    margin: 60px 0;

    p {
      text-shadow: 0 1px 2px #d6d6e8;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: #858498;
    }
  }

  .buttons {
    width: 100%;
    @include center;
    gap: 90px;
    flex-wrap: wrap;

    .button {
      max-width: 300px;
      width: 100%;
      height: 59px;
      border-radius: 30px;
      border: solid 2px #3544cb;
      @include center;
      cursor: pointer;

      p {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1.8px;
        color: #00063b;
      }
    }
  }
}
