@import "../../helpers.scss";

.nft {
  @include section-config;
}

.presentation {
  .nr {
    @include nr-home-config;
  }

  .title-wrapper {
    .pre {
      @include pretitle-home-config;
    }

    .main {
      @include title-home-config;
      h1 {
        text-shadow: 0 1px 8px #d6d6e8;
        color: #5dc1ff;
      }
    }

    .sub {
      h4 {
        text-shadow: 0 1px 6px #d6d6e8;
        font-size: 3.1rem;
        font-weight: 500;
        color: #ff83a0;
      }
    }
  }
}

.cta {
  .content {
    max-width: 605px;
    width: 100%;

    .image-container {
      height: 613px;
      width: 100%;
    }
  }
}
