@import "../../styles/globally-styles.scss";

main.forgot-password-page {
  @include page-config;
  @include center;

  section {
    max-width: 500px;
    width: 100%;

    .image {
      width: 100%;
      @include center;
      margin-bottom: 60px;
    }

    form {
      .text {
        h1 {
          font-size: 1.56rem;
          font-weight: 500;
          margin-bottom: 35px;
        }

        p:nth-child(2) {
          color: #2a2755;
          margin-bottom: 30px;
        }

        p:nth-child(3) {
          margin-bottom: 60px;
        }
      }

      input {
        width: 100%;
        padding: 16px 20px;
        border-radius: 10px;
        border: 1.6px solid #367aff;
        margin-bottom: 60px;
      }

      .buttons {
        display: flex;
        gap: 60px;
        align-items: center;

        .send-btn {
          max-width: 300px;
          width: 100%;
          height: 56px;
          @include center;
          border-radius: 10px;
          background-color: #367aff;
          cursor: pointer;

          p {
            color: white;
          }
        }

        .back-btn {
          cursor: pointer;

          p {
            color: #367aff;
            font-weight: 400;
          }
        }
      }
    }
  }
}
