@import "../../styles/helpers.scss";

.investment {
  @include about-section-config;
  padding: 60px;

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .title {
      @include about-title-config;
    }

    .text {
      @include text-home-config;

      p {
        line-height: 1.94;
      }
    }
  }

  .image-wrapper {
    width: 100%;
    .image {
      position: relative;
      display: block;
      max-width: 510px;
      width: 100%;
      // height: 400px;
    }
  }
}

@media (max-width: $tablet-bkpt) {
  .investment {
    .image-wrapper {
      @include center;
    }
  }
}

// @media (max-width: 600px) {
//   .investment {
//     .image-wrapper {
//      .image {
//        height: 370px;
//      }
//     }
//   }
// }
