@import "../../styles/helpers.scss";

.start-up {
  @include basic-section-config;
  @include center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 40px 0;

  .image {
    position: relative;
    display: block;
    max-width: 1306px;
    width: 100%;
    border-radius: 40px;
  }

  .title-wrapper {
    @include center;
    flex-direction: column;
    margin-top: 40px;

    h1 {
      text-shadow: 0 1px 2px #d6d6e8;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000e89;
    }

    h4 {
      margin-top: 20px;
      text-shadow: 0 1px 2px #d6d6e8;
      font-size: 1.1rem;
      font-weight: normal;
      line-height: 1.33;
      color: #b5b5b5;
    }
  }

  .description {
    @include text-home-config;
    margin-top: 40px;
    text-align: center;
  }
}
