.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  margin: 10px auto;

  .block {
    height: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
  }

  .weak {
    border: 1px solid red;

    &.fill {
      background-color: red;
    }
  }

  .average {
    border: 1px solid orange;

    &.fill {
      background-color: orange;
    }
  }

  .high {
    border: 1px solid yellowgreen;

    &.fill {
      background-color: yellowgreen;
    }
  }
}
