.embla {
  position: relative;
  // width: 400px;
  // height: 200px;
  // border-radius: 15px;
  // box-shadow: 0px 0px 20px black;

  .prev,
  .next {
    width: 4rem;
    height: 4rem;
    background-color: rgb(76, 0, 255);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .prev {
    left: -80px;
  }

  .next {
    right: -80px;
  }
}

.embla__viewport {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  background-color: white;
  cursor: grab;

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;

  .dot {
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot.active {
    background-color: red;
  }
}
