@import "../helpers.scss";

.presentation {
  .nr {
    @include nr-home-config;
  }

  .title-wrapper {
    .pre {
      @include pretitle-home-config;
    }

    .main {
      @include title-home-config;
    }
  }

  .text {
    @include text-home-config;
  }

  .button-wrapper {
    display: inline-flex;
    flex-direction: column;
    .button {
      border-radius: 31px;
      box-shadow: 0 1px 6px 0 #d6d6e8;
      border: solid 2px #5c69e3;
      display: inline-block;
      margin-bottom: 20px;;

      p {
        padding: 15px 46px;
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.33;
        color: #4d6472;
      }
    }

    h4 {
      @include subtext-home-config;
    }
  }
}
