* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #f7f9fa;
  // user-select: none;
}

ul,
li {
  list-style: none;
}

button,
textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  font-family: "Poppins", sans-serif;
}
