@import "../../../styles/globally-styles.scss";

section.success {
  width: 100%;
  @include center;
  flex-direction: column;
  padding: 60px 0;

  .image-container {
    position: relative;
    max-width: 200px;
    width: 100%;
    height: 200px;

    margin-bottom: 60px;
  }

  .banner {
      max-width: 700px;
      width: 100%;
      height: 130px;
      border-radius: 10px;
      background: linear-gradient(to right, #8CE28C, #26BE26);
      margin-bottom: 60px;

      @include center;

      h4 {
          color: white;
          font-size: 1.8rem;
          font-weight: 500;
      }
  }

  p.message {
    color: #9796AD;
    font-weight: 400;
  }
}
