@import "../helpers.scss";

.partnership {
  @include about-section-config;
    grid-template-columns: 1fr 1fr;
    padding: 60px;

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;

    .title {
      @include about-title-config;
    }

    .text {
      .highlight {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 4px;
      }

      @include text-home-config;
    }
  }

  .image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .image {
      position: relative;
      max-width: 500px;
      width: 100%;
      height: 500px;
    }
  }
}

@media (max-width: $tablet-bkpt) {
.partnership {
  .presentation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .image-wrapper {
    grid-row: 2 / 3;
    width: 100%;
    @include center;
  }
}
}
